<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
	<http auto-config="false">
		<intercept-url pattern="/admin_page" access="ROLE_ADMIN" />
		<form-login login-processing-url="/authentification" login-page="/login"
            username-parameter="username" password-parameter="password"
            default-target-url="/deptManager" authentication-failure-url="/login?auth=fail" />
        <logout logout-url="/logout" logout-success-url="/logout" />
	</http>
	
	<authentication-manager>
		<authentication-provider>
	    	<user-service>
	    		<user name="admin" password="admin" authorities="ROLE_ADMIN" />
	    		<user name="user" password="user" authorities="ROLE_USER" />
	    		<user name="company" password="company" authorities="ROLE_COMPANY" />
	    		<user name="manager" password="manager" authorities="ROLE_MANAGER" />
	    	</user-service>
	  	</authentication-provider>
	</authentication-manager>
 
</beans:beans>